.horizontal-navbar {
    background-color: #343a40;
}
.horizontal-navbar .nav-link {
    color: #fff !important;
    padding: 15px 20px;
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s;
}
.horizontal-navbar .nav-link:hover {
    background-color: #495057;
    color: #ffc107 !important;
}
.horizontal-navbar .nav-link.active {
    background-color: #ffc107;
    color: #343a40 !important;
    border-radius: 5px;
}